@model List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Files list</title>
    </head>
    <body>
        <div>

            <p>Thank you for using Sequencing.com's oAuth2 demo.</p>


            If you see a list of file names below then the oAuth2 demo has completed successfully.
            <ul>
                <li>The list contains genetic data files that can be accessed from your Sequencing.com account. </li>
                <li>This includes fun sample files accessible by all apps that use Real-Time Personalization (RTP). </li>
                <li>Sample files allow app users to experience RTP even if they don't yet have their own genetic data.</li>
            </ul>


            <p>Please visit the <a href="https://sequencing.com/developer-center/" class="external">Developer Center</a> to access developer resources and information.</p>
        </div>
                <table >
                <thead>
                    <th>File name</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item</td>
                        </tr>
                    }
                </tbody>
            </table>
          
        </div>
    </body>
</html>