@model List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Files list</title>
    </head>
    <body>
        <div>
            <table >
                <thead>
                    <th>File name</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>