@model dynamic

@{
}

<link rel="stylesheet" href="/Content/bootstrap.min.css">

<img src="~/Content/Sequencing Logo - HiRes Transparent Background.png" width="40%" />
<h1>Welcome to Sequencing.com's oAuth2 Demo.</h1>

<p>
    The 'Start demo' button below
    <ol>
        <li>connects to Sequencing.com</li>
        <li>authorizes this demo application using Sequencing.com's oAuth2 implementation</li>
        <li>makes an API call with a demo oAuth2 secret. You may obtain fully functioning oAuth2 secrets by signing into your account at Sequencing.com.</li>
    </ol>
</p>
<br/><br/>

@Html.ActionLink("Start demo", "ViewFiles", "Default", new { @class = "btn btn-primary" })

<br/><br />

<p>You may access the codebase for this demo from the following repositories. Want to contribute? Please fork us! And if you'd like to update the master branch, just send us a request.</p>
<ul>
    <li ><a href="https://github.com/SequencingDOTcom/oAuth2-Code-Example-PHP">PHP</a></li>

    <li ><a href="https://github.com/SequencingDOTcom/oAuth2-Code-Example-.NET">.NET & C#</a></li>

    <li ><a href="https://github.com/SequencingDOTcom/oAuth2-Code-Example-Java">Java</a></li>

    <li ><a href="https://github.com/SequencingDOTcom/oAuth2-Code-Example-Swift">Swift</a></li>

    <li ><a href="http://github.com/SequencingDOTcom/oAuth2-Code-Example-Objective-C">Objective-C</a></li>

    <li ><a href="http://github.com/SequencingDOTcom/oAuth2-Code-Example-Perl">Perl</a></li>

    <li ><a href="http://github.com/SequencingDOTcom/oAuth2-Code-Example-Python">Python</a></li>
</ul>