@model dynamic

@{
}

<img src="~/Content/Sequencing Logo - HiRes Transparent Background.png"/>
<h1>Welcome to Sequencing.com's oAuth2 Demo.</h1>

<p>
    The 'Demo Link' below
    <ul>
        <li>1) connects to Sequencing.com</li>
        <li>2) authorizes this demo application using Sequencing.com's oAuth2 implementation</li>
        <li>3) makes an API call with a demo oAuth2 secret. You may obtain fully functioning oAuth2 secrets by signing into your account at Sequencing.com.</li>
    </ul>
</p>
@Html.ActionLink("View user files", "ViewFiles")

<p>You may access the codebase for this demo from the following repositories. Want to contribute? Please fork us! And if you'd like to update the master branch, just send us a request.</p>
<ul>
    <li >PHP: <a href="https://github.com/SequencingDOTcom/oAuth2-Code-Example-PHP">https://github.com/SequencingDOTcom/oAuth2-Code-Example-PHP</a></li>

    <li >.NET & C#: <a href="https://github.com/SequencingDOTcom/oAuth2-Code-Example-.NET">https://github.com/SequencingDOTcom/oAuth2-Code-Example-.NET</a></li>

    <li >Java: <a href="https://github.com/SequencingDOTcom/oAuth2-Code-Example-Java">https://github.com/SequencingDOTcom/oAuth2-Code-Example-Java</a></li>

    <li >Swift: <a href="https://github.com/SequencingDOTcom/oAuth2-Code-Example-Swift">https://github.com/SequencingDOTcom/oAuth2-Code-Example-Swift</a></li>

    <li >Objective-C: <a href="http://github.com/SequencingDOTcom/oAuth2-Code-Example-Objective-C">https://github.com/SequencingDOTcom/oAuth2-Code-Example-Objective-C</a></li>

    <li >Perl: <a href="http://github.com/SequencingDOTcom/oAuth2-Code-Example-Perl">https://github.com/SequencingDOTcom/oAuth2-Code-Example-Perl</a></li>

    <li >Python: <a href="http://github.com/SequencingDOTcom/oAuth2-Code-Example-Python">https://github.com/SequencingDOTcom/oAuth2-Code-Example-Python</a></li>
</ul>